.Rproj.user
.Rhistory
.RData
.Ruserdata
_book/
_bookdown_files/
flight_data/
.zip
rosm.cache/
.Rproj
shiny_apps/openstreetmap/road_network/
shiny_apps/openstreetmap/road_network_zipped/
_main.html
geocomputation.Rproj
rsconnect/